<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div>
        <a href="/logout">Logout</a>
    </div>
    <title>Agenda</title>
</head>
<body>
    <h2>Agendamentos</h2>
    <a href="novo-evento/">
        <button type="button">Criar evento</button>
    </a>
    <ul style="front-size: 18px">
        {% for evento in eventos %}
            <li>
                {{evento.titulo}}, {{evento.data}}
                (
                    <a href="novo-evento/?id={{ evento.id }}">Editar</a> --
                    <a href="novo-evento/delete/{{ evento.id }}/">Excluir</a>
                )
            </li>
        {% endfor %}
    </ul>

</body>
</html>