<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <h1>Login</h1>
            <br>
            <label>Usuario:</label>
            <input type="text", name="username">
            <label>Senha:</label>
            <input type="password", name="password">
            <button type="submit">Entar</button>
        </div>
    </form>

    {% for message in messages %}
        <div align="center">
            <br>
            <strong>Error</strong>{{ message }}
        </div>
    {% endfor %}

</body>
</html>